.small-pic-div{
    display: none;
}

.stat-card-container{
    margin-top: 10%;
    margin-left: 19%;
    margin-right: 24%;
width: 900px;
}

span{
    color: hsl(277, 64%, 61%);
}

.main-heading{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.para{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 13px;
    margin-bottom: 18%;
    padding-right: 12%;
}

.stat{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.stat-heading{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.1em;
}

.info-div{
    padding-left: 7%;
    padding-right: 7%;
    background-color: hsl(244, 38%, 16%);
    width: 50%;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

.pic-div{
 width: 50%;  
 background-image: url(images/image-header-desktop.jpg);
 height: initial;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 border-top-right-radius: 2%;
 border-bottom-right-radius: 2%; 
}

.accent-div{
   background-color: rgba(86, 39, 129, 0.5);
   height: 370px;
   width: 100%;
   border-top-right-radius: 2%;
   border-bottom-right-radius: 2%;
}

/*RWD View*/
@media only screen and (max-width: 1100px) {
    .stat-card-container{
        margin-left: 13%;
        margin-right: 12%;
        width: 770px;
    }

    .accent-div{
        height: 407px;
     }
}

@media only screen and (max-width: 880px) {
    .stat-card-container{
        margin-left: 8%;
        margin-right: 10%;
        width: 680px;
    }

    .accent-div{
        height: 469px;
     }
}

@media only screen and (max-width: 650px) {

    .small-pic-div{
        margin-top: 10%;
        margin-left: 8%;
        display: block;
        width: 80%;  
        background-image: url(images/image-header-mobile.jpg);
        height: initial;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-right-radius: 2%;
        border-top-left-radius: 2%; 
    }

    .small-accent-div{
        background-color: rgba(86, 39, 129, 0.5);
        height: 200px;
        width: 100%;
        border-top-right-radius: 2%;
        border-top-left-radius: 2%;
    }

    .stat-card-container{
        flex: none;
        float: none;
        display: grid;
        width: 80%;
        margin-top: 0%;
    }

    .accent-div{
        display: none;
     }

     .info-div{
        text-align: center;
        width: 100%;
        border-top-left-radius: 0%;
        border-bottom-left-radius: 2%;
        border-bottom-right-radius: 2%;
        padding-left: 7%;
        padding-right: 7%;
    }
    .pic-div{
        display: none;
       }

    .para{
        padding-right: 0%;
    }
}